.title {
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}

.scroll {
	overflow: scroll;
	height: 90vh;
}

.mainInfo {
	display: flex;
}

.following {
	margin: 30px 10px 30px 30px;
	font-size: 20px;
	color: darkslategrey;
}

.aboutUser {
	margin-left: 20px;
	width: 40%;
	display: flex;
	justify-content: space-between;
	border: 2px solid #83a77f;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px #536d4e;
}

.avatar img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.userStatus {
	font-size: 15px;
	padding-top: 50px;
}

.location {
	margin: auto 0;
}

.btn {
	padding: 5px;
	border-radius: 10px;
	color: white;
	outline: none;
	border: none;
	background-color: darkseagreen;
	font-size: 15px;
}

.pages {
	text-align: center;
	border-bottom: 1px solid dimgrey;
}

.pages span{
	padding: 5px;
	color: #83a77f;
	font-size: 15px;
	cursor: pointer;
}

.pages .selectedPage {
	font-size: 20px;
	color: gold;
}