
.header {
    grid-area: header;
    background-color: rgba(71, 146, 43, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 40px;
}

.login a{
    color: white;
    text-decoration: none;
    
}

.btn {
    border: none;
    color: green;
    font-size: 15px;
}