
.navbar {
	grid-area: navbar;
	background-color: rgba(71, 146, 43, 0.8);
	border-radius: 5px;
}

.item {
	color: transparent;
}

.item a {
	text-decoration: none;
	color: #ffffff;
}

.item a:hover {
	text-decoration: none;
	color: rgb(175, 111, 27);
	transition: 0.3s;
}

.item .active {
	color: rgb(175, 111, 27);
}
